

@page
@model LoginModel


@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h6>Use uma conta cadastrada para fazer Login.</h6>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <p>E-mail</p>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>Senha</p>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="checkbox">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>

                         <div class="card ">
  <div class="card-body">
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar-se</a>
                    </p>
                 </div>
                 </div>   
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">

            <h2 class="display-4"><center>CASA SHOW</center></h2>
                    <div>
                        <p>
                             
                            <li><img src="/Img/dancando2.gif" alt="animated" width="600px" height="400px" ></li>
                             
                        
                        </p>
                    </div>
        <section>

            </div>
            </div>
            
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
